@model CoreEV4.Models.Patients
 
@{
    ViewData["Title"] = "Details";
}























<h1>Details</h1>

<div>
    <h4>Patients</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.pName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.pName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.bGroup)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.bGroup)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dob)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dob)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.pImage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.pImage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.pStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.pStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hospitals)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hospitals.hId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.pId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
